<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- Bootswatch CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.css" />

    <title><%= student.name %> - <%= student.register_num %></title>
  </head>
  <body>
    <main class="container">
      <h1 class="text-center">FORESE - MOCK PLACEMENTS 2021</h1>
      <h3 class="text-center">STUDENT REPORT</h3>
      <table class="table table-bordered table-hover">
        <tbody>
          <tr>
            <td class="text-uppercase">Registration Number</td>
            <td><%= student.register_num %></td>
          </tr>
          <tr>
            <td class="text-uppercase">Name</td>
            <td><%= student.name %></td>
          </tr>
          <tr>
            <td class="text-uppercase">Department</td>
            <td><%= student.dept %></td>
          </tr>
          <tr>
            <td class="text-uppercase">Section</td>
            <td><%= student.section %></td>
          </tr>
          <tr>
            <td class="text-uppercase">Mocks Preference</td>
            <td><%= student.preference %></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-md-6">
          <p class="text-uppercase"><b>Aptitude Test Results</b></p>
          <table class="table table-sm table-bordered table-hover text-center" id="aptitudeScores">
            <thead class="text-uppercase bg-light">
              <th>Parameter</th>
              <th>Score</th>
            </thead>
            <tbody>
              <tr>
                <td class="text-uppercase"><b>Core</b></td>
                <td><%= student.aptitude_scores["core"] %> / 20</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Verbal</b></td>
                <td><%= student.aptitude_scores["verbal"] %> / 10</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Quants</b></td>
                <td><%= student.aptitude_scores["quants"] %> / 10</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Coding</b></td>
                <td><%= student.aptitude_scores["programming"] %> / 10</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <p class="text-uppercase"><b>Group Discussion Results</b></p>
          <table class="table table-sm table-bordered table-hover text-center" id="gdScores">
            <thead class="text-uppercase bg-light">
              <th>Parameter</th>
              <th>Score</th>
            </thead>
            <tbody>
              <tr>
                <td class="text-uppercase"><b>Subject Knowledge</b></td>
                <td><%= student.gd_scores["subject_knowledge"] %> / 5</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Communication Skills</b></td>
                <td><%= student.gd_scores["communication_skills"] %> / 5</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Body Language</b></td>
                <td><%= student.gd_scores["body_language"] %> / 5</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Listening Skills</b></td>
                <td><%= student.gd_scores["listening_skills"] %> / 5</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Critical Thinking</b></td>
                <td><%= student.gd_scores["critical_thinking"] %> / 5</td>
              </tr>
              <tr>
                <td class="text-uppercase"><b>Leadership Skills</b></td>
                <td><%= student.gd_scores["leadership_skills"] %> / 5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p class="text-center h4">Please screenshot this page for future use.</p>
    </main>
  </body>
</html>
